Source: epics-debhelper
Section: devel
Priority: optional
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~),
               perl (>= 5.10.0)
Standards-Version: 3.8.0
Homepage: http://pubweb.bnl.gov/~mdavidsaver

Package: epics-debhelper
Architecture: all
Depends: ${perl:Depends}, perl (>= 5.10.0),
         debhelper (>= 7.0.50~), libparse-debcontrol-perl,
Conflicts: rtems-debhelper
Replaces: rtems-debhelper
Provides: rtems-debhelper
Description: Helper for building EPICS packages
 A helper script to calculate package dependencies
 for RTEMS packages.  Only needed when creating packages.
