#!/usr/bin/make -f

export DH_VERBOSE=1

binary binary-arch binary-indep install:
	dh $@
install: build
binary-arch binary-indep: install
binary: binary-arch binary-indep

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh build --until auto_build

	pod2man --section=7 epics-debhelper.txt epics-debhelper.7

	dh build --after auto_build
	touch $@

clean:
	dh clean --until auto_clean

	rm -f epics-debhelper.7

	dh clean --after auto_clean
