#!/usr/bin/make -f

#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh build --before auto_build

	pod2man --section=1 dh_rtems dh_rtems.1

	dh build --after auto_build
	touch $@

clean:
	dh clean --before auto_clean

	rm -f dh_rtems.1

	dh clean --after auto_clean

install: install-stamp
install-stamp:
	dh install --before auto_install

	install -m 755 -t debian/rtems-debhelper/usr/bin dh_rtems dh_strip_rtems
	install -m 644 -t debian/rtems-debhelper/usr/share/perl5/Debian/Debhelper/Sequence rtems.pm

	dh install --after auto_install
	touch $@

binary-arch: #install
	#dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
